
.ipynb_checkpoints/Astr 3800 Homework 3 -checkpoint.ipynb
.ipynb_checkpoints/Astr 3800 Parallax Project-checkpoint.ipynb
.ipynb_checkpoints/Astr 3800 In-Class Week 3 Zade Alfalah-checkpoint.ipynb
.ipynb_checkpoints/Hw # 9 -checkpoint.ipynb
.ipynb_checkpoints/Zade Alfalah Astr3800 In-Class Week 4 (1)-checkpoint.ipynb
.ipynb_checkpoints/Zade Alfalah Astr 3800 Homework 5-checkpoint.ipynb
.ipynb_checkpoints/Zade Alfalah Astr 3800 Homework #4-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Orrery Project -checkpoint.ipynb
.ipynb_checkpoints/In-Class probably week 9-checkpoint.ipynb
